.name{
    color:green;
}
p.speech
{
    color:black;
    font-size:medium;
    font-family:'Courier New',Courier,monospace;
}
p.direction{
    font-family:'Times',serif,Arial;
    color:black;font-size:small;
    background-color:peachpuff;
}
p.direction:hover{
    color:blue;
    background-color:cyan;
}
.HENRIETTE {
    color:deeppink;
}
.JACQUES{
    color:brown;
}
table{
    border:solid 3px peachpuff;
    border-collapse:collapse;
    padding:15px;
    margin: 20px 14em 15pt 15%;
}
td,th{
    border:solid 2px;
    text-align:center;
}
th{
    background-color:cornflowerblue;
}
h6:hover{
    text-shadow:2px 3px 5px black;
    background-color:aquamarine;
    border:solid 4px;border-color: brown;
    box-shadow:5px 4px 7px orange;
}

